<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="io" class="com.as.orderbook.controller.view.UserIOConsoleImpl" />
<bean id="orderDao" class="com.as.orderbook.controller.dao.OrderBookOrderDaoFileImpl" />
<bean id="tradeDao" class="com.as.orderbook.controller.dao.OrderBookTradeDaoFileImpl" />

<bean id="view" class="com.as.orderbook.controller.view.OrderBookView">
    <constructor-arg ref="io" />
</bean>

<bean id="service" class="com.as.orderbook.controller.service.OrderBookServiceLayer">
    <constructor-arg ref="orderDao" />
    <constructor-arg ref="tradeDao" />  
</bean>

<bean id="controller" class="com.as.orderbook.controller.OrderBookController">
    <constructor-arg ref="service" />
    <constructor-arg ref="view" />
</bean>

</beans>